{% unless page.header == false %}
<nav class="main-nav">
  <div class="container">
  <a class="brand" href="/">{% if site.data.settings.header %}{{ site.data.settings.header }}{% else %}{{ site.title }}{% endif %}</a>

    <div class="links">
      {% for item in site.data.settings.navigation %}
      <a class="item{% if page.url == item.url
                          or (page.navigation_group != nil and page.navigation_group == item.group)
                    %} -active{% endif %}"
         href="{{ item.url }}">{{ item.title }}</a>
      {% endfor %}
    </div>
  </div>
</nav>
{% endunless %}
