@mixin narrow-container {
  @include center;
  max-width: $minPageWidth;
}
@mixin container {
  @include center;
  max-width: $pageWidth;
}

@mixin wide-container {
  @include center;
  max-width: $pageWideWidth;
}

@mixin one-column-container {
  @include column(12/16, $offset: 2/16);
}

@mixin two-column-container {
  @include column(1/2, $cycle: 2, $gutter: 0);
}

@mixin sizes {
  &.-mini     { font-size: $mini; }
  &.-tiny     { font-size: $tiny; }
  &.-small    { font-size: $small; }
  &.-large    { font-size: $large; }
  &.-big      { font-size: $big; }
  &.-huge     { font-size: $huge; }
  &.-massive  { font-size: $massive; }
}

@mixin colors {
  &.-blueprint   { color: $blueprint; }
  &.-blue        { color: $blue; }
  &.-violet      { color: $violet; }
  &.-teal        { color: $teal; }
}

@mixin icon {
  @include fa-icon;
}

@mixin icons {

  &.-windows:before {
    @include icon;
    content: $fa-var-windows;
  }

  &.-mac:before {
    @include icon;
    content: $fa-var-apple;
  }

  &.-linux:before {
    @include icon;
    content: $fa-var-linux;
  }

  &.-yes:before {
    @include icon;
    content: $fa-var-check; color: $green;
  }

  &.-no:before {
    @include icon;
    content: $fa-var-minus; color: $red;
  }

  &.-date:before {
    @include icon;
    content: $fa-var-calendar;
  }

  &.-opendate:before {
    @include icon;
    content: $fa-var-calendar-o;
  }

  &.-category:before {
    @include icon;
    content: $fa-var-folder;
  }

  &.-author:before {
    @include icon;
    content: $fa-var-user;
  }


  &.-padded {
    margin-right: 24px;
  }

  @include sizes;
  @include colors;
}
