
$minPageWidth: 960px;
$pageWidth: 1119px;
$pageWideWidth: 1200px;

$mini: .4em;
$tiny: .5em;
$small: .75em;
$large: 1.5em;
$big: 2em;
$huge: 5em;
$massive: 8em;


// Colors

$white: #fff;
$black: rgb(34, 34, 34);
$grey: rgba(0, 0, 0, 0.5);
$green: #21BA45;
$red: rgb(219, 40, 40);
$blue: #3794de;
$blueprint: #2f569c;
$violet: rgb(106, 39, 149);
$teal: rgb(150, 218, 217);


$light-blue: rgba(66, 139, 202, 0.2);
$light-violet: rgba(106, 39, 149, 0.2);
$light-red: rgba(219, 40, 40, 0.2);
$light-grey: rgba(34, 36, 38, 0.14902);

$very-light-grey: rgba(0, 0, 0, 0.05);

$dark-violet: rgb(71, 35, 126);


// Spacing
$smallSpacer: 20px;
$mediumSpacer: 40px;
$bigSpacer: 100px;


// Font

$fontFamily: Lato, sans-serif;
$fontSize: 16px;
$thinFont: 200;
$regularFont: 400;
$mediumFont: 500;
$boldFont: 700;
$heavyFont: 800;
$blackFont: 900;

