.engnr-technologies {
  @extend .item-list;

  > .item {
    @include column(1/4, $cycle: 4);
    font-weight: $boldFont;
    margin-top: 0.4em;
    margin-bottom: 0.4em;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
}
