.engnr-process {
  @extend .arrow-list;
  width: $minPageWidth;
  margin: 0 auto;
  line-height: 50px;

  > .item {
    @include two-column-container;
    @extend .h2;
    white-space: nowrap;

    &:after {
      content: "\2192";
      display: inline;
    }

    &:last-child:after {
      content: ".";
    }

    &:nth-child(2n) {
      text-align: left;
    }

    &:nth-child(2n + 1) {
      text-align: right;
    }
  }
}

